<?xml version="1.0" encoding="UTF-8"?>
<entities>
    <entity>
        <name>weekdays</name>
        <automatedExpansion>True</automatedExpansion>
        <entries>
            <entry>
                <value>sunday</value>
                <synonyms>
                    <value>sunday</value>
                    <value>sun</value>
                </synonyms>
            </entry>
            <entry>
                <value>monday</value>
                <synonyms>
                    <value>monday</value>
                    <value>mon</value>
                </synonyms>
            </entry>
            <entry>
                <value>Tuesday</value>
                <synonyms>
                    <value>Tuesday</value>
                    <value>Tue</value>
                </synonyms>
            </entry>
            <entry>
                <value>Wednesday</value>
                <synonyms>
                    <value>Wednesday</value>
                    <value>Wed</value>
                </synonyms>
            </entry>
            <entry>
                <value>Thusday</value>
                <synonyms>
                    <value>Thusday</value>
                    <value>Thu</value>
                </synonyms>
            </entry>
            <entry>
                <value>Friday</value>
                <synonyms>
                    <value>Friday</value>
                    <value>Fri</value>
                </synonyms>
            </entry>
            <entry>
                <value>Saturday</value>
                <synonyms>
                    <value>Saturday</value>
                    <value>Sat</value>
                </synonyms>
            </entry>
        </entries>
    </entity>
    
    <entity>
        <name>weekends</name>
        <automatedExpansion>True</automatedExpansion>
        <entries>
            <entry>
                <value>sunday</value>
                <synonyms>
                    <value>sunday</value>
                    <value>sun</value>
                </synonyms>
            </entry>
            <entry>
                <value>Saturday</value>
                <synonyms>
                    <value>Saturday</value>
                    <value>Sat</value>
                </synonyms>
            </entry>
        </entries>
    </entity>
</entities>